<% title "My Account" %>
<div class="grid_5">
	<div class="box">
		<h2>Create New Account</h2>
		<div class="block" id="login-forms">
			<% form_for @user, :url => account_path do |f| %>
			  <%= f.error_messages %>
				<fieldset class="login">
				  <%= render :partial => "form", :object => f %>
				  <%= f.submit "Register" %>
				</fieldset>	
			<% end %>
			<fieldset>
				<legend>Login</legend>
				<p>If you already have an account, please log in.</p>
				<%= link_to "Log in", new_user_session_path %>
			</fieldset>
		</div>
	</div> 
</div>
