<% title "Home" %>
<div class="grid_7">
	<div class="box">
		<h2>Data Feed Status</h2>
		<div class="block" id="tables">
			<table>
				<tr>
					<th>Source</th>
					<th>Name</th>
					<th>URL</th>
					<th>Data Model</th>
					<th>Updated</th>
				</tr>
				<tr>
					<td><a href="#">Metro Police</a></td>
					<td><a href="#">Crime incidents</a></td>
					<td><a href="#"><%= configatron.site.canonical_url + "/crime" %></a></td>
					<td>UCR Part I Offenses</td>
					<td><%= Time.now %></td>
				</tr>
				<tr>
					<td><a href="#">City Call Center</a></td>
					<td>311 Calls</td>
					<td><a href="#"><%= configatron.site.canonical_url + "/311" %></a></td>
					<td>Open 311</td>
					<td><%= Time.now %></td>
				</tr>
			</table>
		</div>
	</div>
</div>
