<% title "Datasets" %>
<div class="grid_12">
	<p style="float:right"><%= link_to 'New Dataset', new_admin_dataset_path %> |
		<%= link_to 'Organizations', admin_organizations_path %></p>
	<hr />
</div>
<div class="grid_3">
	<div class="box">
		<h2>Filter</h2>
		<div class="block">
			<p>search box</p>
			<h5>Keywords</h5>
			<p>Dataset view_bys</p>
		</div>	
	</div>
</div>
<%= render :partial => 'list_datasets', :locals => {:datasets => @datasets} %>
