<div class="grid_9">
	<div class="box">
		<h2>Properties List</h2>
		<div class="block" id="tables">
			<table>
				<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Definition</th>
					<th>Example value</th>
				</tr>
				</thead>
				<% properties.each do |prop| %>
				  <tr>
						<td><%= prop.name %></td>
						<td><%= prop.data_type %></td>
						<td><%= prop.definition %></td>
						<td><%= prop.example_value %></td>
				  </tr>
				<% end %>
			</table>
		</div>
	</div>
</div>