<div class="block" id="search" style="float:right;">
	<% form_for( [:admin, Search.new], :html => {:method => 'get'}) do |f| %>
	   <%= f.text_field :what %>
	   <%= f.submit 'Search' %>
	<% end %>
</div>